@charset "UTF-8";

.container{
    background-color: #ccc;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row nowrap;*/
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.item{
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 200px;
}
